.navbar {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  position: relative;
  top: 0;
  width: 100%;
}

.elements {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
